// Centralized theme configuration for the application.
// Contains a collection of color definitions used for styling various UI elements.
$background: #1D1F38; // Background color of the application.
$text: rgba(255, 255, 255, 1); // Primary text color.
$text-secondary: rgba(255, 255, 255, 0.7); // Secondary text color with reduced opacity.
$border: rgba(255, 255, 255, 0.5); // Color used for borders.
$rain: #91D3FF; // Color representing rain-related icons or elements.
$sun: #FFDB91; // Color representing sun-related icons or elements.
$white: #FFFFFF; // Color representing white elements.
$primary-day: rgba(0, 62, 94, 0.9); // Primary color for daytime themes.
$primary-day-weak: rgba(0, 62, 94, 0.5); // Weaker variant of the primary daytime color.
$primary-day-weakest: rgba(0, 62, 94, 0.2); // Weakest variant of the primary daytime color.
$primary-night: rgba(0, 1, 61, 0.9); // Primary color for nighttime themes.
$primary-night-weak: rgba(0, 1, 61, 0.5); // Weaker variant of the primary nighttime color.
$primary-night-weakest: rgba(0, 1, 61, 0.2); // Weakest variant of the primary nighttime color.
$pale-primary-night: rgba(19, 19, 38, 0.9); // Pale color for nighttime themes.
$pale-primary-night-weak: rgba(19, 19, 38, 0.5); // Weaker variant of the pale nighttime color.
$pale-primary-night-weakest: rgba(19, 19, 38, 0.2); // Weakest variant of the pale nighttime color.
$pale-primary-day: rgba(23, 37, 51, 0.9); // Pale color for daytime themes.
$pale-primary-day-weak: rgba(23, 37, 51, 0.5); // Weaker variant of the pale daytime color.
$pale-primary-day-weakest: rgba(23, 37, 51, 0.2) // Weakest variant of the pale daytime color.
